.Roadmap {

}

.Roadmap__container {
  width: 90%;
  margin: auto;
}

.Roadmap__row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 28px 0;
}

.Roadmap__row::after {
  content: '';
  display: block;
  height: calc(100% - 4px);
  border: 4px solid #ffffff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 56px;
  z-index: 0;
  margin-left: -20px;
  margin-right: -20px;
}

.Roadmap__row:nth-child(odd)::after {
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  border-left: none;
  margin-left: 0;
  transform: translateX(0px) translateY(-0px);
}

.Roadmap__row:nth-child(even)::after {
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  border-right: none;
  margin-right: 0;
  transform: translateX(0px) translateY(0px);
}

.Roadmap__row:last-child::after {
  border: none;
}

.Roadmap__item {
  text-align: center;
}

.Roadmap__item:first-child {
  text-align: left;
}

.Roadmap__item:last-child {
  text-align: right;
}

.Roadmap__item:first-child div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Roadmap__item:last-child {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.Roadmap__item div {
  display: block;
  text-align: center;
}

.Roadmap__item div .Roadmap__count {
  background-color: #292929;
  border-radius: 4px;
  margin: auto;
  padding: 8px 16px;
  height: 60px;
  width: fit-content;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.Roadmap__item:first-child div .Roadmap__title {
  transform: translateX(-10px);
}

.Roadmap__item:last-child div .Roadmap__title {
  transform: translateX(10px);
}

.Roadmap__item div p {
  background-color: #292929;
  border-radius: 4px;
  width: fit-content;
  padding: 8px 16px;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  margin: auto;
  max-width: 320px;
  text-align: left;
  height: fit-content;
  transition: var(--transition);
  opacity: 0;
  z-index: -1;
  display: flex;
}

.Roadmap__item div span:hover ~ p {
  transition: var(--transition) 0.1s, z-index 0s ease-in-out 0s;
  opacity: 1;
  z-index: 2;
}

.Roadmap__item:first-child div p {
  right: auto;
}

.Roadmap__item:last-child div p {
  left: auto;
}

.Roadmap__item:first-child div span {
  margin-left: 0;
}

.Roadmap__item:last-child div span {
  margin-right: 0;
}

@media (max-width: 640px) {
  .Roadmap__item div .Roadmap__count {
    font-size: 12px;
  }
}
