.View {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-gap: 30px;
}

.View__title {
  font-weight: bold;
  font-size: 24px;
  color: #ffffff;
}

.View__content {
  background: #212121;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.View__content::-webkit-scrollbar { /* 1 - скроллбар */
  width: 4px;
  background: rgba(68, 133, 252, 0.2);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: #4485FC;
  border-radius: 3px;
}

.View__container {
  padding: 20px;
}

.View__container h4 {
  color: #f5f5f5;
}

.View__container canvas {
  margin: auto;
  height: 90% !important;
  width: 90%!important;
}

.View__container canvas + div {
  user-select: none;
}

.View__stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 32px;
}

.View__text {
  font-size: 16px;
  text-align: justify;
  color: #FAFAFA;
  margin-bottom: 20px;
}

.View__text:last-child {
  margin-bottom: 0;
}

.View__stats span {
  font-weight: bold;
  font-size: 18px;
  color: #FAFAFA;
}

.View__stats span i {
  font-weight: 300;
  font-style: normal;
  white-space: nowrap;
}

.View__buttons_2, .View__buttons_3 {
  display: grid;
  grid-column-gap: 64px;
  justify-content: center;
  margin-bottom: 32px;
  margin-top: 32px;
}

.View__buttons_2 {
  grid-template-columns: repeat(2, 320px);
}

.View__buttons_3 {
  grid-template-columns: repeat(3, 290px);
}

.View__label {
  display: grid;
  grid-template-columns: auto 0.8fr auto;
  background: #292929;
  border-radius: 4px;
  align-items: center;
  grid-column-gap: 20px;
  padding: 0 20px;
  margin-bottom: 32px;
}

.View__label:last-child {
  margin-bottom: 0;
}

.View__label h4 {
  font-weight: bold;
  font-size: 16px;
  color: #FAFAFA;
}

.View__label input {
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
  outline: none;
  border-radius: 0;
  padding: 20px;
  background: #303030;
  border: none;
  font-weight: normal;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.View__label input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 300;
}

.View__label div {
  display: flex;
  grid-column-gap: 20px;
  padding: 12px 0;
}

.View__label div button {
  width: 100%;
}

@media (max-width: 1280px) {
  .View__label {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-row-gap: 20px;
    padding: 20px;
  }
  .View__buttons_2 {
    grid-template-columns: repeat(2, 220px);
  }
  .View__buttons_3 {
    grid-template-columns: repeat(3, 220px);
  }
  .View__buttons_2, .View__buttons_3 {
    grid-column-gap: 32px;
  }
  .View__stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 0;
  }
}

@media (max-width: 960px) {
  .View__buttons_3 {
    grid-template-columns: repeat(3, 180px);
  }
  .View__stats {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 0;
  }
}

@media (max-width: 720px) {
  .View__label {
    grid-template-columns: 1fr;
  }
  .View__buttons_2 {
    grid-template-rows: 1fr 1fr;
  }
  .View__buttons_3 {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: repeat(3, 140px);
  }
  .View__buttons_2, .View__buttons_3 {
    grid-template-columns: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 20px;
  }
  .View__label div {
    display: flex;
    flex-direction: column;
    grid-row-gap: 20px;
    padding: 0;
  }
  .View__stats span {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .View__stats span {
    font-size: 12px;
  }
}
