.Header {
  padding: 30px 0;
  background-color: #f5f5f5;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.Header__grid {
  display: grid;
  grid-template-columns: 1fr 7fr 1fr;
}

.Header__menu, .Header__menu_active {
  display: flex;
  align-items: center;
}

.Header__menu > button, .Header__menu_active > button {
  border: none;
  width: 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  margin: 0;
  position: relative;
  outline: none;
}

.Header__menu > button::before, .Header__menu > button::after,
.Header__menu_active > button::before, .Header__menu_active > button::after {
  content: '';
  height: 0;
  width: 100%;
  display: block;
  border-top: 2px solid #292929;
  position: absolute;
}

.Header__menu > button::before,
.Header__menu_active > button::before {
  transform: translateY(-4px);
  transition: var(--transition);
}

.Header__menu > button::after,
.Header__menu_active > button::after {
  transform: translateY(4px);
  transition: var(--transition);
}

.Header__menu_active > button::before {
  transform: rotate(45deg);
  transition: var(--transition);
}

.Header__menu_active > button::after {
  transform: rotate(-45deg);
  transition: var(--transition);
}

.Header__logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Header__logo a {
  height: 50px;
}

.Header__logo img {
  width: 100%;
  height: 100%;
}

.Header__button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

@media (max-width: 1280px) {
  .Header {
    padding: 30px 0;
  }
  .Header__grid {
    grid-template-columns: 1.5fr 6fr 1.5fr;
  }
}

@media (max-width: 1070px) {
  .Header__logo a {
    width: 80%;
  }
}

@media (max-width: 960px) {
  .Header__menu > button, .Header__menu_active > button {
    width: 40px;
  }

  .Header__logo a {
    width: 60%;
  }
}

@media (max-width: 640px) {
  .Header {
    padding: 15px 0;
  }
  .Header__grid {
    grid-template-columns: 1fr 4fr 1fr;
  }
  .Header__menu > button, .Header__menu_active > button {
    width: 30px;
  }
}

@media (max-width: 560px) {
  .Header__grid {
    grid-template-columns: 1fr 6fr 2fr;
  }
  .Header__menu > button, .Header__menu_active > button {
    width: 20px;
    height: 8px;
  }
  .Header__logo a {
    width: 70%;
  }
}
